# Git (ОБОВ'ЯЗКОВО! Інакше вся історія полетить на сервер)
.git/

# Dependencies
node_modules/
.pnpm-store/

# Native folders (Expo сам згенерує їх на сервері через prebuild)
ios/
android/

# Expo
.expo/
dist/

# Temporary files
.DS_Store
*.log
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.local/